.tableContainer {
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  padding: 24px;
}

.table {
  width: calc(100vw - 48px);
  min-width: 900px;

  & th,
  td {
    min-width: 164px;
  }
  & th:first-of-type,
  td:first-of-type {
    width: 240px;
  }

  & tbody {
    & tr {
      & td {
        border: solid rgba(0, 0, 0, 0.8) 1px;
      }
    }
  }
}

.verticalDivider {
  margin-top: 4px;
  height: 20px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  float: left;
  margin-right: 8px;
}
