.table {
  width: calc(100vw - 48px);
  margin: 24px;

  & th:first-of-type {
    width: 240px;
  }
  & td:first-of-type {
    width: 240px;
  }

  & tbody {
    & tr {
      & td {
        border: solid rgba(0, 0, 0, 0.8) 1px;
      }
    }
  }
}

.card {
  margin: 8px;
  width: 140px;
}

.icon {
  margin-left: 8px;
  cursor: pointer;
}

.verticalDivider {
  margin-top: 4px;
  height: 20px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  float: left;
  margin-right: 8px;
}
