.table {
  width: calc(100vw - 48px);
  margin: 24px;

  & tbody {
    & tr {
      & td:first-of-type {
        width: 240px;
      }

      & td {
        border: solid rgba(0, 0, 0, 0.8) 1px;
      }
    }
  }
}

.card {
  margin: 8px;
  width: 160px;
}

.icon {
  margin-left: 8px;
  cursor: pointer;
}
