.taskContainer {
  border-radius: 2px;
  border: solid #888888 1px;
  width: 140px;
  margin: 8px;
  overflow: hidden;
}

.taskHeader {
  background-color: #eeeeee;
  height: 36px;
  cursor: grab;
  padding: 8px;
  text-align: right;
}

.taskBody {
  min-height: 92px;
  padding: 8px;
}

.taskFooter {
  position: relative;
  padding: 8px;
  height: 48px;
}

.nameBadge {
  position: absolute;
  border-radius: 13px;
  padding: 2px 12px;
  right: 8px;
  bottom: 8px;
}

.unstyledButton {
  padding: 0;
  margin: 0 8px 0 0;
  border: hidden;
  height: 20px;
  width: 20px;
}

.formItem {
  margin-bottom: 0;
}
