.taskContainer {
  border-radius: 2px;
  border: solid #888888 1px;
  width: 160px;
  margin: 8px;
  overflow: hidden;
  transition: opacity ease 0.2s;
  background-color: #ffffff;
}

.taskHeader {
  background-color: #eeeeee;
  height: 36px;
  cursor: grab;
  padding: 8px;
  text-align: right;
}

.taskBody {
  min-height: 92px;
  padding: 8px;

  & h1 {
    font-weight: 600;
    font-size: 24px;
  }
  & h2 {
    font-weight: 600;
    font-size: 18px;
  }
  & ol,
  ul {
    padding: 0 0 0 24px;
  }
  & hr {
    border: solid #888888 0.5px;
  }
}

.taskFooter {
  position: relative;
  padding: 8px;
  height: 48px;
}

.nameBadge {
  position: absolute;
  border-radius: 13px;
  padding: 2px 12px;
  right: 8px;
  bottom: 8px;
}

.unstyledButton {
  padding: 0;
  margin: 0 8px 0 0;
  border: hidden;
  height: 20px;
  width: 20px;
}

.formItem {
  margin-bottom: 0;
}
