@import '~antd/dist/reset.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.anticon-delete,
.anticon-edit,
.anticon-save,
.anticon-close {
  font-size: 20px;
  color: #1890ff;
  margin-left: 8px;
  transition: transform ease 0.2s;

  &:first-of-type {
    margin-left: 0;
  }

  &:hover {
    transform: sclae(1.5) !important;
  }
}
